#map{
    height:400px;
    width: 600px;
}

#selectState{
    display: flex;
    flex-direction: column;
}

#stateList{
    width: 25%;
    margin: 10px;
}

#subBtn{
    width: 25%;
    margin: 10px;
}
 
#parkList{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-top: 3px solid;
    padding: 10px;
}

.parks{
    padding: 5px;
    margin: 5px;
    
}

.button{
    background-color: forestgreen;
}

.card-divider{
    background-color: rgb(14, 77, 56);
    color: white;
}

.card-section{
    padding: 1px 5px 1px 5px;
    background-color: goldenrod;

}
